
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title><%= list.name %></title>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .material-icons {vertical-align:-14%}

</style>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<script>
function loadMap ()
{
  var myLatLng = {lat: , lng: };
  //var myLatLng = new google.maps.LatLng({lat: , lng: });
  var map = new google.maps.Map(document.getElementById("map"),{
        zoom: 18,
        center: myLatLng
  });
  var marker = new google.maps.Marker({
     position: myLatLng,
     map: map,
     title: list.borough
  });
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkfp0OSPZ0fl8ZF3a0tea-mp36-mp_8b8&callback=loadMap"></script>

<%- (msg)?msg:"" %>

<div class="w3-container w3-teal">
  <h1>Information</h1>
</div>
<ul class="w3-navbar w3-light-grey" style=" box-shadow: 2px 2px 2px #888888;">
	<li><a style="color:#555555" href="/read">Back to List</a></li>
	<li><a style="color:#555555" href="/rate?_id=<%= list._id%>">Rate</a></li>
	<li><a style="color:#555555" href="/update?_id=<%= list._id%>">Edit</a></li>
	<li><a style="color:#555555" href="/delete?_id=<%= list._id%>">Delete</a></li>
</ul>
<div class=" w3-card-4 w3-margin">
<div class="w3-display-container w3-text-black">
<%- (list.data)?"<img src='data:"+list.mimetype+";base64,"+list.data+"' style='width:100%' class='w3-hover-opacity'><br><br>":"<br><br><br><br>" %>
<div class="w3-display-topleft w3-card-4 w3-white" style="width:100%;opacity:0.5"><h1 style="margin:20px;opacity:1!important"><%= list.name %></h1></div>
</div>

<p>
<div class="w3-container">
<label   class="w3-label w3-validate">Borough: </label><%= (!list.borough)?"":list.borough  %></p>
<label   class="w3-label w3-validate">Cuisine: </label><%= (!list.cuisine)?"":list.cuisine %></p>
<label   class="w3-label w3-validate">Street: </label><%= (!list.address.street)?"":list.address.street %></p>
<label   class="w3-label w3-validate">Building: </label><%= (!list.address.building)?"":list.address.building %></p>
<label   class="w3-label w3-validate">Zipcode: </label><%= (!list.address.zipcode)?"":list.address.zipcode %></p>
<label   class="w3-label w3-validate">GPS: </label><%= (!list.address.coord[0])?"[NaN,":"["+ list.address.coord[0] +"," %><%= (!list.address.coord[1])?"NaN]":list.address.coord[1] +"]" %></p>

<%-(list.address.coord[0]&&list.address.coord[1])?" <div id='map' style='width: 545px; height: 335px;'></div>":"" %>
  <script type="text/javascript">
    var locations = ['some random info here', <%=list.address.coord[0]%>, <%=list.address.coord[1]%>, 1];
    

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
	  maxZoom: 20, 
	  minZoom: 1, 
	  streetViewControl: false,
      center: new google.maps.LatLng(40, 0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    var infowindow = new google.maps.InfoWindow();

    var marker, i;
 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[1], locations[2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
      
      map.panTo(marker.position);
  </script>


<p>
<label   class="w3-label w3-validate">Created by: </label><%= list.userid %></p>
<label   class="w3-label w3-validate">Rating: </label>
        <% var totalScore = 0;%>
		<% if(list.grade){%>
      	<% for(var i=0; i<list.grade.length; i++){ %>
		<% totalScore += parseInt(list.grade[i].score) %>
		<% } %>
		<%=(totalScore / list.grade.length).toFixed(2)%>	
		<% } %>
		<%= (list.grade)? "/ 10" : "no one has ever voted that! no one has EVER voted that in the history of this page!" %>
</p>
<p><ul class="w3-ul w3-card-4 w3-col w3-container">
        <% if(list.grade){%>
      	<% for(var i=0; i<list.grade.length; i++){ %>
		<li class="w3-padding-16 w3-hover-teal w3-light-grey">
		<span>Rating:<%= list.grade[i].score %>/10</span> - <i class="material-icons">person</i>         <span><%= list.grade[i].user %></span>
		</li>
		<% }} %>

</ul>&nbsp</p>
</div>
</div>

</body>
</html>
